footer {
  background-color: #f1f1f1;
  width: 85%;
  margin: 30px auto;
  padding: 30px;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
  margin-bottom: -40px; /* Para que el bloque azul quede junto al footer */
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-column h1 {
  color: var(--title-footer);
}

/* primera columna */
.footer-column img {
  width: 30%;
  object-fit: cover;
  border-radius: 16px;
}

.footer-column p {
  color: var(--secondary-color);
  text-align: center;
  width: 80%;
}

.social-media {
  color: var(--title-footer);
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6em;
}

/* segunda columna */
.footer-column h1 {
  margin: 0;
  font-size: 1.6em;
  width: 70%;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  width: 70%;
}

.footer-column li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1em;
  margin-bottom: 6px;
  color: var(--title-footer);
}

.footer-column li span {
  color: var(--secondary-color);
}

/* tercera columna */
.footer-column ul li a {
  color: var(--primary-color);
  font-weight: 400;
  width: 100%;
}

/* cuarta columna */
.ul-getintouch li {
  margin-bottom: 0px;
}

.blue-bar {
  width: 100%;
  height: 80px;
  background-color: var(--background-footer);
  z-index: 1;
}

/*
_______________________
  
  MEDIA QUERIES - RESPONSIVE
_______________________ 

*/

@media (max-width: 1130px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-container > .footer-column:nth-child(n + 3) {
    /* los ultimos 2 */
    margin-top: 50px;
  }
}

@media (max-width: 700px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-column {
    width: 90%;
    margin: 0 auto;
  }

  .footer-column h1 {
    text-align: center;
    margin-top: 20px;
  }

  .footer-container > .footer-column:nth-child(n + 3) {
    /* los ultimos 2 */
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .footer-column {
    width: 100%;
  }

  .footer-column h1,
  .footer-column ul {
    width: 100%;
  }
}
